/* Jai Shree Ram */

@font-face {
    font-family: "neueMachina";
    src: url(../fonts/NeueMachina-Regular_DQCmjH1st.ttf);
}

@font-face {
    font-family: "helvetica";
    src: url(../fonts/HelveticaNowDisplay-Regular_5Mzhp8KlA8_CAVTbnsPOM.woff2);
}


@font-face {
    font-family: "fontSpring";
    src: url(../fonts/Fontspring-DEMO-juana-extralightit_toKzXEsfr.ttf);
}